<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LabelScrollViewTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B2F3B04B1D80BDBD002BEDA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2F3B05F1D80BDBD002BEDA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B2F3B06A1D80BDBD002BEDA0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
